
div.map{
	border: solid 2px whitesmoke !important;
	padding: 19px;
    margin-left: 416px;
    margin-right: 278px;
	margin-top: 160px;
	background: #fff;
	box-shadow: 1px 4px 2px 0px rgba(1,1,1,0.22);
}
.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 9px 22px 25px;
text-decoration: none;
font-size: 20px;
margin-top: 3px;
border: 0px solid;
color: #fefefd;
font-family: popins;
font-weight: bolder;
background: #303030;
display: block;
}
.sidenav h2{
	color: #ff139e;
font-size: 18px;
font-family: popins;
margin-top: -60px;
font-weight: bolder;
margin-bottom: 117px;

}



.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 160px;
	/* Same as the width of the sidenav */
	font-size: 28px;
	/* Increased text to enable scrolling */
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}


.logo {

	width: 40%;
	margin-left: 40px;
	margin-bottom: 90px;

}

